---
layout: archive
title: "Activities"
permalink: /activities/
author_profile: true
---

{% include base_path %}

<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->

<!--
<h3>Upcoming Activities:</h3>
<ul style="font-size: 1rem; line-height: 1.6;">
  <li>XXX.</li>
</ul>
-->

<h3>Past Activities:</h3>
<ul style="font-size: 1rem; line-height: 1.6;">
  <li>The Geometric Realization of AATRN, IMSI, Chicago, USA, August 2025.</li>
  <li>Topology of Arrangements with an Eye to Applications, University of Pisa, Pisa, Italy, September 2025.</li>
  <li>Young Topologists Meeting 2025, KTH Royal Institute of Technology, Stockholm, Sweden, June 2025.</li>
  <li>2024 Fall Eastern Sectional Meeting, University at Albany, Albany, NY, October 2024.</li>
  <li>Spires 2024 – 4th Annual Centre for Topological Data Analysis Conference, University of Oxford, Oxford, UK, August 2024.</li>
  <li>Algebraic Structures in Topology, San Juan, Puerto Rico, June 2024.</li>
  <li>Montreal Summer School – Applications of Representation Theory in TDA & GIT, Université du Québec à Montréal (UQAM), Montréal, Canada, June 2024.</li>
  <li>Mid-Atlantic Topology Conference 2024, Northeastern University, Boston, USA, March 2024.</li>
  <li>Mathematics Graduate Student Seminar at Northeastern, Northeastern University, Boston, USA, January 2024.</li>
  <li>Brandeis Graduate Student Seminar, Brandeis University, Boston, USA, October 2023.</li>
  <li>Formalization of Mathematics, MSRI (SLMath), Berkeley, USA, June 2023.</li>
  <li>Mid-Atlantic Topology Conference 2023, University of Pennsylvania, Boston, USA, April 2023.</li>
  <li>Joint Mathematics Meetings 2023, Hynes Convention Center, Boston, USA, January 2023.</li>
  <li>2022 Union College Mathematics Conference, Union College, Schenectady, NY, June 2022.</li>
</ul>

<h2>Past Photos</h2>
<hr>
<div style="display: flex; flex-direction: column; gap: 24px; align-items: center;">
  <img src="/images/Aug2025.jpg" alt="August 2025" style="width: 70%; height: auto; border-radius: 6px;">
  <img src="/images/Jun2025.jpg" alt="June 2025" style="width: 70%; height: auto; border-radius: 6px;">
  <img src="/images/Apr2023.jpg" alt="April 2023" style="width: 70%; height: auto; border-radius: 6px;">
  <img src="/images/Jan2023.jpg" alt="January 2023" style="width: 70%; height: auto; border-radius: 6px;">
  <img src="/images/Jun2023.jpg" alt="June 2023" style="width: 70%; height: auto; border-radius: 6px;">
  <img src="/images/Jun2024.jpg" alt="June 2024" style="width: 70%; height: auto; border-radius: 6px;">
</div>
