---
layout: archive
title: "Activities"
permalink: /activities/
author_profile: true
---

{% include base_path %}

<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->

<h3>Upcoming Activities:</h3>
<ul style="font-size: 1rem; line-height: 1.6;">
  <li>Spring 2022 – MATH 1365, <em>Introduction to Math Reasoning</em></li>
</ul>

<h3>Past Activities:</h3>
<ul style="font-size: 1rem; line-height: 1.6;">
  <li>Summer 2025 – MATH 1341, <em>Calculus 1</em></li> <!-- with Prasanth George -->
  <li>Spring 2025 – MATH 7234, <em>Optimization and Complexity</em></li> <!-- with Oana Veliche -->
  <li>Summer 2024 – MATH 2321, <em>Calculus 3</em></li> <!-- with John Lindhe -->
  <li>Spring 2024 – MATH 3527, <em>Number Theory 1</em></li> <!-- with Evan Dummit -->
  <li>Fall 2023 – MATH 1251, <em>Calculus and Differential Equations in Biology</em></li> <!-- with Carlos Curley -->
  <li>Fall 2021 – MATH 5110, <em>Applied Linear Algebra</em></li> <!-- with He Wang -->
  <li>Fall 2021 – MATH 7243, <em>Machine Learning and Statistical Learning Theory</em></li> <!-- with He Wang -->
  <li>Fall 2020 – MATH 1365, <em>Introduction to Math Reasoning</em></li> <!-- with Peter Crooks -->
  <li>Spring 2020 – MATH 1365, <em>Introduction to Math Reasoning</em></li> <!-- with Lee-peng Lee -->
</ul>

<h2>Some pictures of my class</h2>
<hr>
<div style="display: flex; flex-direction: column; gap: 24px; align-items: center;">
  <img src="/images/teaching2.JPG" alt="June 2025" style="width: 70%; height: auto; border-radius: 6px;">
  <img src="/images/teaching1.jpg" alt="March 2024" style="width: 70%; height: auto; border-radius: 6px;">
</div>
