---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->

<h2>Northeastern University</h2>

<h3>Instructor:</h3>
<ul style="font-size: 1rem; line-height: 1.6;">
  <li>Spring 2022 – MATH 1365 – Introduction to Math Reasoning</li>
</ul>

<h3>Teaching Assistant:</h3>
<ul style="font-size: 1rem; line-height: 1.6;">
  <li>Spring 2025 – MATH 7234 – Optimization and Complexity – with Oana Veliche</li>
  <li>Summer I 2024 – MATH 2321 – Calculus 3 – with John Lindhe</li>
  <li>Spring 2024 – MATH 3527 – Number Theory 1 – with Evan Dummit</li>
  <li>Fall 2023 – MATH 1251 – Calculus and Differential Equations in Biology – with Carlos Curley</li>
  <li>Fall 2021 – MATH 5110 – Applied Linear Algebra</li>
  <li>Fall 2021 – MATH 7243 – Machine Learning and Statistical Learning Theory – with He Wang</li>
  <li>Fall 2020 – MATH 1365 – Introduction to Math Reasoning – with Peter Crooks</li>
  <li>Spring 2020 – MATH 1365 – Introduction to Math Reasoning – with Lee-peng Lee</li>
</ul>

<h2>Some pictures of my talks</h2>
<hr>
<div style="display: flex; flex-direction: column; gap: 16px; align-items: center;">
  <img src="/images/teaching2.JPG" alt="June 2025" style="width: 50%; height: auto; border-radius: 6px;">
  <img src="/images/teaching1.jpg" alt="March 2024" style="width: 50%; height: auto; border-radius: 6px;">
</div>
